header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 30% 0 30%;
}

h1 {
    font-size: 1.96em;
}

.content {
    text-align: center;
    padding: 25px;
}

.options {
    color: white;
    background-color: blueviolet;
    margin-bottom: 5px;
}

.result {
    border-top: 2px solid gray;
    color: gray;
    font-style: italic;
    font-size: 1.4em;
    align-self: flex-start;
    width: 100%;
    padding-top: 10px;
}

.form {
    display: flex;
    margin-top: 20px;
}

.marginright {
    margin-right: 5px;
}

li {
    font-size: 1.4;
    background-color: plum;
    padding: 5px;
}

#margin {
    margin: 20px 5px;
}

#viewHighscores:hover {
    cursor: pointer;
}

#viewHighscores {
    color: blueviolet;
}

.time {
    position: relative;
    left: 1365px;
}