header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 30% 0 30%;
}

h1 {
    font-size: 1.96em;
}

.content {
    text-align: center;
    padding: 25px;
}

.options {
    color: white;
    background-color: blueviolet;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
}

.result {
    border-top: 2px solid gray;
    color: gray;
    font-style: italic;
    font-size: 1.4em;
    align-self: flex-start;
    width: 100%;
    padding-top: 10px;
}

.form {
    display: flex;
    margin-top: 20px;
}

.marginright {
    margin-right: 5px;
}

li {
    font-size: 1.4;
    background-color: plum;
    padding: 5px;
}

#margin {
    margin: 20px 5px;
}

#viewHighscores:hover {
    cursor: pointer;
}

#viewHighscores {
    color: blueviolet;
}

.time {
    text-align: right;
    padding: 10px;
}

#content {
    text-align: start;
    align-self: flex-start;
    padding-left: 0;
    width: 100%;
}

@media screen and (max-width: 858px) {

    main {
        margin: 5% 5%;
    }

    h1 {
        font-size: 1.4em;
    }

    #content {
        width: fit-content;
        align-self: center;

    }

.options {
    margin-bottom: 5px;
}
    
}


@media screen and (max-width: 428px) {

    main {
        margin: 20% 5%;
    }

    .options {
        margin-bottom: 20px;
    }
        
    
}